.user {
    margin-top: 15px;
    margin-right: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;
}
.userName {
    text-decoration: none;
    color: black;
    font-size: larger;
    border-bottom: 1px solid rgb(47, 172, 255);
}
.activeName {
    text-decoration: none;
    color: blue;
    font-size: larger;
    border-bottom: 3px solid rgb(47, 172, 255);
}