.centerDesc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.centerDesc p {
    text-align: center;
}
.green {
    color: green;
}
.yellow {
    color: orange;
}
.red {
    color: lightcoral;
}