.nav {
    background: rgb(47, 172, 255);
    border-radius: 10px;
    width: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
}
.menu {
    background: rgb(47, 172, 255);
    cursor: pointer;
}